body {
	font-family: "arial", sans-serif;
	font-size: 13px;
	margin: 0;
	min-height: 460px;
	min-width: 980px;
	padding: 0;
}

li {
	display: inline-block;
    text-align: center;
}

a:hover {
	text-decoration: underline;
}

header {
	display:inline-block;
	height: 49px;
	width: 100%;
}

header a {
	color: rgba(0, 0, 0, 0.87);
	text-decoration: none;
}
header a:hover {
	text-decoration: underline;
}

header ul.leftmenu {
	padding-left: 18px;
}

header ul.rightmenu {
	padding-right: 18px;
}

header ul.rightmenu img {
	height: 15px;
	margin: 0 4px;
	opacity: .6;
	width: 15px;
}

header ul.rightmenu img:hover {
	opacity: 1.0;
}

header li {
    padding: 18px 6px;
}

header ul li #signin {
	background-color: #4285f4;
	border-radius: 3px;
	color: white;
	font-weight: bold;
	padding: 8px 13px;
}

div.search {
	height: calc(100vh - 98px);
	min-height: 372px;
	width:auto;
}

div.search img, div.search form, div.search ul{
	display: block;
	margin:auto;
}

div.search img {
	padding-top: 139px;
	height: 92px;
	width: auto;
}

div.search form {
	height: 200px;
	padding: 30px 0;
	width: 500px;
}

div.search input[type=text] {
	border-color: 1px solid #757575;
	border-radius: 3px solid;
	font-family: arial, sans-serif;
	font-size: 16px;
	line-height: 36px;
	height: 2.5em;
	margin: 0 calc(.5*(500px - 480px));
	width: 480px;
}

div.search input[type=text]:focus {
	outline: none;
}

div.buttons {
	height:50px;
	width: calc(2*(148px));
	margin: 20px auto;
}

div.buttons input[type=button] {
	background-color: #f8f8f8;
	border: 0;
	color: #757575;
	font-family: arial, sans-serif;
	font-size: 13px;
	font-weight:bold;
	height: 36px;
	line-height: 27px;
	margin: 10px 2px;
	min-width: 142px;
	padding: 0 15px;
	position:relative;
}

div.buttons input[type=button]:hover {
	background-color: #f8f8f8;
	border: 1px solid #c6c6c6;
	border-radius: 3px;
	color: #222;
}

footer {
	background-color: #f2f2f2;;
	border-top: 1px solid #e4e4e4;
	bottom: 0;
	height: 49px;
	position: relative;
	width: 100%;
}

footer li {
    padding: 17px 16px;
}

footer a{
	color: #666;
	padding: 17px 0px;
	text-decoration: none;
}

.leftmenu, .rightmenu {
	list-style-type: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
}

.leftmenu {
	float: left;
}

.rightmenu {
	display: inline;
	float: right;
}